{% extends "base.html" %}
{% block title %}{{ article.title }}{% endblock %}

{% block extra_meta %}

	<meta name="description" content="{{ article.summary|striptags }}">

{% if PELICAN_SIMPLEGREY_TWITTER_CARD_ACCOUNT %}
	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="@{{ PELICAN_SIMPLEGREY_TWITTER_CARD_ACCOUNT }}">
	<meta name="twitter:title" content="{{ article.title }}">
	<meta name="twitter:description" content="{{ article.summary|striptags }}">
	<meta name="twitter:url" content="{{ SITEURL }}/{{ article.url }}">
{% endif %}
{% endblock %}


{% block content %}
	<article class="full">
		<h1>{{ article.title }}</h1>
    <i>Posted on {{ article.date|strftime('%d %B %Y') }}</i>
		{{ article.content }}	

	</article>

  <p>
  {% if article.tags %}Tags: 
      {% for tag in article.tags %}
         <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
  {% endif %}
  </p>

<section>
    <p id="post-share-links">
        Share on:
        <a href="{{article.share_post['linkedin']}}" target="_blank" title="Share on LinkedIn"><img src="images/linkedin_24.png" alt="LinkedIn"></a>

        <a href="{{article.share_post['facebook']}}" target="_blank" title="Share on Facebook"><img src="images/facebook_24.png" alt="Facebook"></a>

        <a href="{{article.share_post['google-plus']}}" target="_blank" title="Share on Google Plus"><img src="images/googleplus_24.png" alt="Google+"></a>

        <a href="{{article.share_post['twitter']}}" target="_blank" title="Share on Twitter"><img src="images/twitter_30.png" alt="Twitter"></a>
    </p>
</section>

{% endblock %}
