<!doctype html>
<html lang="{{ HTML_LANG }}">	
<head>
	<meta charset="utf-8"/>
	<title>{% block title %}{{ SITENAME }}{%endblock%}</title>	
	<meta name="author" content="{{ AUTHOR }}">
	
	{% block extra_meta %}
	{% endblock %}

	<link rel="top" href="#" />
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
		
	{% block scripts %}
	{% endblock %}

    {% if FEED_ALL_ATOM %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
    {% endif %}
    {% if FEED_ALL_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
</head>
	
<body>
{{ FEED_ATOM }}
    <div class="container">
	  
	  <header role="banner">
	    <div class="feeds">
	      {% if FEED_ALL_ATOM %}
	        <a href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" rel="alternate"><img src="/{{ THEME_STATIC_DIR }}/images/icons/feed-32px.png" alt="atom feed"/></a>
	      {% endif %}
          {% if FEED_ALL_RSS %}
            <a href="{{ SITEURL }}/{{ FEED_ALL_RSS }}" rel="alternate"><img src="/{{ THEME_STATIC_DIR }}/images/icons/feed-32px.png" alt="rss feed"/></a>
          {% endif %}
	    </div>
	    {% if pages %}
	      <nav class="pages">
          <a href="{{ SITEURL }}/index.html">Home</a>
          -
	        {% for p in pages %}
            <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
            {% if not loop.last %}-{% endif %}
          {% endfor %}
          -
          <a href="{{ SITEURL }}/blog.html">Blog</a>
	      </nav>
	    {% endif %}
		<a href="{{ SITEURL }}/" class="title">{{ SITENAME }}</a>
      </header>
	
	  <div class="wrapper">

		  <div role="main" class="content">
		    {% block content %}{% endblock %}
		  </div>	
		  
		  <div class="sidebar">

          {% if RECENT_POST_COUNT is not defined %}
                {% set RECENT_POST_COUNT = 5 %}
          {% endif %}
          <h2>Recent Posts</h2>
              {% for article in articles[:RECENT_POST_COUNT] %}
                <p><a href="{{ SITEURL }}/{{ article.url }}">
                    {{ article.title }}
                </a></p>
              {% endfor %}

	        {% if SOCIAL %}
	        <aside>
	        <h2>Get in Touch</h2>
            <ul class="social">
            {% for name, link in SOCIAL %}
            <li><a href="{{ link }}">{{ name }}</a><i></i></li>
            {% endfor %}
            </ul>
          </aside>
    			{% endif %}

	        {% if LINKS %}
	          <aside>
	            <h2>Blogroll</h2>
	            <ul>
	              {% for name, link in LINKS %}
	                <li><a href="{{ link }}">{{ name }}</a></li>
	              {% endfor %}
	            </ul>
	          </aside>
	        {% endif %}

		  </div>

	  </div>
      <footer>
		<p role="contentinfo">
<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a> The content on this website is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
    	</p>

	  </footer>	

	</div>
	
</body>
</html>
