Redirect /blog/ /blog.html
Redirect /book/ /book.html
Redirect /publications/ /publications.html
Redirect /feed/ /feeds/all.atom.xml
Redirect /2013/04/argmin-on-the-rows-of-a-matrix-with-thrust/ /argmin-on-the-rows-of-a-matrix-with-thrust.html
Redirect /2013/04/summing-the-entries-of-a-matrix-using-a-stencil-with-thrust/ /summing-the-entries-of-a-matrix-using-a-stencil-with-thrust.html
Redirect /2013/05/generating-noncommutative-monomials-with-sympy/ /generating-noncommutative-monomials-with-sympy.html
Redirect /2013/05/second-order-semidefinite-relaxation-of-a-commutative-polynomial-optimization-problem/ /second-order-semidefinite-relaxation-of-a-commutative-polynomial-optimization-problem.html
Redirect /2013/06/cublas-matrix-c-style/ /cublas-matrix-c-style.html
Redirect /2013/06/ground-state-energy-problem/ /ground-state-energy-problem.html
Redirect /2013/07/memory-use-of-translating-sdp-problems/ /memory-use-of-translating-sdp-problems.html
Redirect /2013/07/merging-in-complex-space/ /merging-in-complex-space.html
Redirect /2013/08/acm-wants-you-to-be-spied-on/ /acm-wants-you-to-be-spied-on.html
Redirect /2013/08/analysing-three-months-of-academic-spam/ /analysing-three-months-of-academic-spam.html
Redirect /2013/08/spyder-closer-to-a-mathematica-alternative/ /spyder-closer-to-a-mathematica-alternative.html
Redirect /2013/08/understanding-quantum-svms/ /understanding-quantum-svms.html
Redirect /2013/09/computer-algebra-system-on-a-cell-phone/ /computer-algebra-system-on-a-cell-phone.html
Redirect /2013/09/making-your-manuscripts-available/ /making-your-manuscripts-available.html
Redirect /2013/11/comparing-latex-conversion-tools/ /comparing-latex-conversion-tools.html
Redirect /2013/11/quantum-process-tomography-and-machine-learning/ /quantum-process-tomography-and-machine-learning.html
Redirect /2013/12/training-emergent-self-organizing-maps-with-somoclu/ /training-emergent-self-organizing-maps-with-somoclu.html
Redirect /2014/01/full-page-ad-by-nsa-in-the-communications-of-the-acm/ /full-page-ad-by-nsa-in-the-communications-of-the-acm.html
Redirect /2014/03/arch-linux-on-imac/ /arch-linux-on-imac.html
Redirect /2014/05/ground-state-of-spinless-fermions-with-dmrg/ /ground-state-of-spinless-fermions-with-dmrg.html
Redirect /2014/05/reproducible-research-literate-programming-ipython-and-github/ /reproducible-research-literate-programming-ipython-and-github.html
Redirect /2014/06/quantum-bound-on-the-chsh-inequality-using-sdp/ /quantum-bound-on-the-chsh-inequality-using-sdp.html
Redirect /2014/06/the-jordan-wigner-transformation-in-python/ /the-jordan-wigner-transformation-in-python.html
Redirect /2014/08/more-on-quantum-learning-of-unitaries/ /more-on-quantum-learning-of-unitaries.html
Redirect /2014/08/sdpa-with-different-compilers-and-linear-algebra-libraries/ /sdpa-with-different-compilers-and-linear-algebra-libraries.html
Redirect /2014/09/browsing-academic-material-anonymously/ /browsing-academic-material-anonymously.html
Redirect /2014/09/causal-structures-bayesian-nets-and-quantum-systems/ /causal-structures-bayesian-nets-and-quantum-systems.html
Redirect /2014/10/recent-advances-in-quantum-machine-learning/ /recent-advances-in-quantum-machine-learning.html
Redirect /2014/11/cython-with-pypy-and-numpy/ /cython-with-pypy-and-numpy.html
Redirect /2014/11/the-nieto-silleras-and-moroder-hierarchies-in-ncpol2sdpa/ /the-nieto-silleras-and-moroder-hierarchies-in-ncpol2sdpa.html
Redirect /2014/12/random-number-generation-with-c11-and-vsl/ /random-number-generation-with-c11-and-vsl.html
